/* 전체 앱의 레이아웃 */
.appLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #111112;
}

/* 사이드바와 콘텐츠 영역을 감싸는 부모 */
.mainContent {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* 실제 내용이 표시될 오른쪽 메인 영역 */
.contentArea {
  flex-grow: 1;
  min-width: 0;
  padding: 1rem;
  overflow-y: auto;
  background-color: #141415;
}
